/* Button component styles */

a.cp-button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: 3px solid;
  transition: all 0.3s;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.primary {
    background: #f28337;
    color: white;
    border-color: #f28337;

    &:hover {
      background: transparent;
      color: #f28337;
    }
  }

  &.secondary {
    background: transparent;
    color: #1a1a1a;
    border-color: #1a1a1a;

    &:hover {
      background: #1a1a1a;
      color: white;
    }
  }
}
