/* 404 error page styles */

section#pg-404 {
  min-height: 60vh;

  .content {
    padding: var(--sm);
    grid-column: full;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }

  img.gremlin {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: var(--lg);
    border-radius: var(--radius)
  }

  h1 {
    font-size: 5rem;
    color: var(--accent);
    line-height: 1;
    margin-bottom: var(--xs);
  }

  h2 {
    color: var(--text);
    margin-bottom: var(--lg);
  }

  p {
    color: var(--text-2);
    margin-bottom: var(--md);
  }

  .button {
    margin-top: var(--lg);
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 2.25rem;
    }

    .gremlin {
      max-width: 150px;
    }
  }
}
