/* Samples page styles */

section#pg-samples {
  background: var(--bg);
}

section#pg-samples .sample-image {
  text-align: left;
  margin: var(--xl) 0;
}

section#pg-samples .sample-image img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 4px;
}


/* Responsive */
@media (max-width: 768px) {
  section#pg-samples .sample-image {
    margin: var(--lg) 0;
  }

  section#pg-samples .sample-image img {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  section#pg-samples .sample-image img {
    max-height: 250px;
  }
}

@media (max-width: 320px) {
  section#pg-samples .sample-image {
    margin: var(--md) 0;
  }
}
