/* Button component styles */

a.cp-button {
  display: inline-block;
  padding: var(--sm) 2.5rem;
  font-size: var(--body);
  font-weight: var(--bold);
  border: none;
  transition: all var(--normal);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &.primary {
    background: var(--accent);
    color: var(--text);

    &:hover {
      background: var(--accent-hover);
    }
  }

  &.secondary {
    background: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
    padding: calc(var(--sm) - 2px) calc(2.5rem - 2px);

    &:hover {
      background: var(--accent);
      color: var(--text);
    }
  }
}
